<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".KjvApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.KJVBible">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".PickerActivity"
            android:exported="false"
            android:label="@string/title_select"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".SearchActivity"
            android:exported="false"
            android:label="@string/title_search"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="stateVisible" />

        <activity
            android:name=".BookmarksActivity"
            android:exported="false"
            android:label="@string/title_bookmarks"
            android:parentActivityName=".MainActivity" />

    </application>

</manifest>
